/**
 *	Stylesheet: 1030up
 *  Author:     Dan Koch
 *  Project:    Dan & Pili
 */

html:before {
    background-position: center calc(18.8125em + 107px);
}

#couple .giant-ampersand {
    font-size: 13.25em;
}