/**
 *	Stylesheet: 1030up
 *  Author:     Dan Koch
 *  Project:    Dan & Pili
 */

html {
	background-position: center calc(18.8125em + 307px);

	&.loading:before {
	    background-position: center calc(18.8125em + 107px);
	}
}

#couple .giant-ampersand {
    font-size: 13.25em;
}