/**
 *  Stylesheet: Base
 *  Author:     Dan Koch
 *  Project:    Dan & Pili
 */

a {
    color: $lavender;
    transition: color 0.2s ease-in-out;

    &:hover, &:focus {
        color: darken( $lavender, 9% );
    }
}

main {
    background-color: $grey-color;
    position: relative;
}

.lazy {
    opacity: 0;
}

#couple, #countdown, #schedule, #rsvp, #contact {
    background-image: none;
}

.blend-overlay {
    background-color: $white;
    background-blend-mode: luminosity;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: transparentize( $white, 0.4 );
    }
}

//------- Alerts ------------------//

.browser-warning, .javascript-warning {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparentize($white, 0.1);

    h1 {
        color: $text-color;
        line-height: 1.2;
        position: absolute;
        margin: 0;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    z-index: 9999;
}


//------- Header ------------------//

header.default {
    background-image: url(../images/danandpili_heroic.jpg);
    background-position: center bottom;
    height: auto;
    @media (max-width: 767px) {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    .ceremony-date {
        padding-bottom: 250px;
    }
}

header.default nav ul li a:before {
    background-image: url(../images/active-page.png);
}

header.fixed {
    box-shadow: 0 1px 10px -5px transparentize( $black, 0.8 );

    nav ul li a:before {
        background-image: url(../images/active-page_fixed.png);
    }
}

.mobile-nav-menu .mobile-menu-container ul li a:before {
    background-image: url(../images/active-page_mobile.png);
}

//------- Couple ------------------//

#couple {
    background-color: $white;
    margin-top: 0;

    .columns {
        z-index: 2;
    }
}


//------- Countdown ------------------//

#countdown {
    background-position: center bottom;
}


//------- Gallery ------------------//

#couple-gallery {
    background-image: linear-gradient( 225deg, #788aa3, $grey-color );
}

.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev:after {
    background-image: none;
}

.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next:after {
    background-image: none;
}

.slideshow-photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//------- Schedule ------------------//

#schedule {

    .schedule-content-wrap {
        box-shadow: 0 0 20px -5px transparentize( $grey-color, 0.7 );
        padding: 5rem 0;
    }
}


//------- RSVP ------------------//

.rsvp-form-wrap {
    height: auto;
    padding: 5rem 0;
}

//------- Contact ------------------//




//------- No JS ------------------//

.no-js {

    .lazy {
        display: none;
    }
}


