<aside class="browser-warning" style="display:none">
    <h1>You are using a Microsoft browser. That is bad and you should feel bad. Get a <a href="https://www.google.com/chrome/" target="_blank">better one</a>, you Luddite.</h1>
</aside>
<noscript>
    <aside class="javascript-warning">
        <h1>You have javascript disabled. That is bad and you should feel bad. Turn on javascript, you Luddite.</h1>
    </aside>
</noscript>

<nav class="mobile-nav-menu">
    <a class="mobile-logo" href="index.html">{{ site.title }}</a>
    <a class="mobile-menu-btn" href="#"><span></span></a>
    <div class="mobile-menu-container"></div>
</nav>

<header class="default">
    <nav>
        <ul>
            <li><a title="The Couple" href="#couple" class="active">The Couple</a></li>
            <li><a title="Gallery" href="#couple-gallery">Gallery</a></li>
            <li><a title="Schedule" href="#schedule">Schedule</a></li>
            <li><a title="Registries" href="#registries">Registries</a></li>
            <li><a title="RSVP" href="#rsvp">RSVP</a></li>
        </ul>
    </nav>
    <h1>Dan <em>&amp;</em> Pili</h1>
    <span class="ceremony-date">September 30<sup>th</sup>, 2016</span>
</header>