<header class="default">
    <nav>
        <ul>
            <li><a title="The Couple" href="#couple" class="active">The Couple</a></li>
            <li><a title="Bridesmaids" href="#bridesmaid-gallery" class="">Bridesmaids</a></li>
            <li><a title="Groomsmen" href="#groomsmen-gallery" class="">Groomsmen</a></li>
            <li><a title="Gallery" href="#couple-gallery">Gallery</a></li>
            <li><a title="Recent Posts" href="#recent-posts">Recent Posts</a></li>
            <li><a title="RSVP &amp; Schedule" href="#rsvp">RSVP &amp; Schedule</a></li>
            <li><a title="Blog" href="blog.html">Blog</a></li>
            <li><a title="Contact" href="#contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Dan <em>&amp;</em> Pili</h1>
    <span class="ceremony-date">September 30<sup>th</sup>, 2016</span>
</header>