<section id="countdown">
	<h2>Countdown to the Party</h2>
	<div id="default-countdown" class="is-countdown">
		<span class="countdown-row countdown-show3">
			<span class="countdown-section">
				<span class="countdown-amount">0</span>
				<span class="countdown-period">Years</span>
			</span>
			<span class="countdown-section">
				<span class="countdown-amount">0</span>
				<span class="countdown-period">Months</span>
			</span>
			<span class="countdown-section">
				<span class="countdown-amount">0</span>
				<span class="countdown-period">Days</span>
			</span>
		</span>
	</div>
</section>