<section id="couple" class="heroic-bg blend-overlay row" data-lazy="{{ 'assets/images/couple.jpg' | prepend: site.cdnurl }}">
	<div class="columns large-12">
		<div class="columns large-4 medium-5">
			<span class="headshot groom">
				{% include lazy-image.html src="assets/images/dan.jpg" alt="groom headshot" width="233" %}
			</span>
			<h3>Dan</h3>
			<p class="desc groom">
				We met in Buenos Aires, Argentina in mid 2011. Unknowingly, we had arrived to the country at almost exactly the same time and stayed in the same hostel, but never met. It was only months later that we would become friends. Even then, communication was interesting, since Dan was pretty terrible at Spanish and Pili's English needed practice too.
				<br><br>
				Then one night, a mutual friend got us to dance together. Teaching Dan to dance was Pili's first true lesson in patience. After that, we knew that we could accomplish anything together. Even though neither of us could really speak the other's language, the little we knew was enough to carry us to where we are today!
				<span class="social groom">
					{% for network in site.data.social.groom %}
						{% assign net = network[0] %}
						{% assign tag = network[1] %}
						<a title="{{ net | capitalize }}" href="https://{{ net }}.com/{{ tag }}" target="_blank">
							<i class="fa fa-{{ net }} fa-2x"></i>
						</a>
					{% endfor %}
		    	</span>
			</p>
		</div><!-- End .large-4 -->
		<div class="ampersand columns large-4 medium-2">
			<p class="giant-ampersand">&amp;</p>
		</div><!-- End .large-4 -->
		<div class="columns large-4 medium-5">
			<span class="headshot bride">
				{% include lazy-image.html src="assets/images/pili.jpg" alt="bride headshot" width="233" %}
			</span>
			<h3>Pili</h3>
			<p class="desc bride">
				Uniting lives from different continents wasn't easy. After three years in Argentina, we decided to uproot and come to the US. We had planned to visit for only a few months so Pili could take an English course. When that time was up, instead of separating, we decided to stay here together.
				<br><br>
				On March 20th, after four and a half years of traveling the globe together, we got married in Fairfax! A few months later on June 19th we got married again in Cartagena, Colombia! We enjoyed those celebrations so much that we decided to go for a third. We are so happy that all of you can join us for the trifecta!
				<span class="social bride">
					{% for network in site.data.social.bride %}
						{% assign net = network[0] %}
						{% assign tag = network[1] %}
						<a title="{{ net | capitalize }}" href="https://{{ net }}.com/{{ tag }}" target="_blank"><i class="fa fa-{{ net }} fa-2x"></i></a>
					{% endfor %}
		    	</span>
			</p>
		</div><!-- End .large-4 -->
	</div><!-- End .large-12 -->
</section>
