<section id="couple-gallery">
	<h2>Gallery</h2>
	<div class="il-scattered-gallery">
		{% for image in site.data.gallery %}
			{% assign src = image | prepend: 'assets/images/gallery/' %}
			{% assign alt = 'gallery-' | append: forloop.index %}
			<a class="il-photo-{{ forloop.index | prepend: '00' | slice: -2, 2 }} {% if forloop.first %}il-highlight il-focus{% endif %}">
				{% include lazy-image.html class="il-photo" src=src alt=alt %}
			</a>
		{% endfor %}
	</div>
	<div class="couple-slideshow-wrap">
		<div id="couple-slideshow">
			{% for image in site.data.gallery %}
				<li class="slideshow-photo" data-lazy="{{ image | prepend: 'assets/images/gallery/' | prepend: site.cdnurl }}"></li>
			{% endfor %}
		</div>
		<ul class="couple-thumbs"></ul>
	</div>
	<div class="couple-mobile-slider-wrap">
		<div class="couple-mobile-slider"></div>
	</div>
</section>