<aside class="browser-warning" style="display:none">
    <h1>You are using a Microsoft browser. That is bad and you should feel bad. Get a <a href="https://www.google.com/chrome/" target="_blank">better one</a>, you Luddite.</h1>
</aside>
<noscript>
    <aside class="javascript-warning">
        <h1>You have javascript disabled. That is bad and you should feel bad. Turn on javascript, you Luddite.</h1>
    </aside>
</noscript>

<header class="default">
    <nav>
        <ul>
            <li><a title="The Couple" href="#couple" class="active">The Couple</a></li>
            <li><a title="Bridesmaids" href="#bridesmaid-gallery" class="">Bridesmaids</a></li>
            <li><a title="Groomsmen" href="#groomsmen-gallery" class="">Groomsmen</a></li>
            <li><a title="Gallery" href="#couple-gallery">Gallery</a></li>
            <li><a title="Recent Posts" href="#recent-posts">Recent Posts</a></li>
            <li><a title="RSVP &amp; Schedule" href="#rsvp">RSVP &amp; Schedule</a></li>
            <li><a title="Blog" href="blog.html">Blog</a></li>
            <li><a title="Contact" href="#contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Dan <em>&amp;</em> Pili</h1>
    <span class="ceremony-date">September 30<sup>th</sup>, 2016</span>
</header>