<section id="registries">
	<div class="registries-wrap">
		<h2>Registries</h2>
		<p class="registries-desc">View our registries</p>
		<div class="registries row">
			{% for registry in site.data.registries %}
				{% assign src = registry.image | prepend: 'assets/images/registries/' | prepend: site.base_url %}
				<div class="columns medium-6 large-3">
					<a class="registry" href="{{ registry.url }}" target="_blank">
						{% include lazy-image.html src=src alt=registry.name width=300 %}
					</a>
				</div>
			{% endfor %}
		</div>
	</div><!-- End .rsvp-form-wrap -->
</section>