<section id="rsvp">
	<div class="rsvp-form-wrap">
		<h2>RSVP</h2>
		<p class="rsvp-desc">RSVP with this form or call us at <em>703 493 8033</em>!</p>
		<form id="rsvp-form" action="sendemail.php" method="post" data-abide="" novalidate="novalidate">
			<div class="columns large-12">
				<label for="attendee-name">Name (required)</label>
				<input id="attendee-name" name="attendee_name" type="text" placeholder="Name" required="" pattern="[a-zA-Z]+">
				<small class="error">Please enter your name.</small>
			</div><!-- End .large-12 -->
			<div class="columns large-12">
				<label for="attendee-email">Email Address (required)</label>
				<input id="attendee-email" name="attendee_email" type="email" placeholder="Email" required="">
				<small class="error">Please enter a valid email.</small>
			</div><!-- End .large-12 -->
			<div class="columns large-4 medium-4 small-4">
				<label for="guests">Guests</label>
				<select id="guests" name="guests">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div><!-- End .large-4 -->
			<div class="columns large-8 medium-8 small-8">
				<label for="attending">I am attending</label>
				<select id="attending" name="attending">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div><!-- End .large-8 -->
			<div class="columns large-12">
				<input id="rsvp-submit" class="button" type="submit" value="Submit" name="rsvp_submit">
			</div><!-- End .large-12 -->
		</form>
	</div><!-- End .rsvp-form-wrap -->
</section>