<section id="schedule">		
	<div class="schedule-content-wrap">
		<h2>Schedule</h2>
		<div class="row">
			<div class="columns large-6">
				<strong>Dan &amp; Pili Celebration</strong>
				<img src="{{ assets/images/party-img.png | prefix: baseurl }}" alt="party-image">
				<div class="event-details">
					<p>September 30<br>
					7:00pm - 11:00pm<br>
					LORTON, VA<br>
					THE WORK HOUSE<br>
					<a href="">VIEW DIRECTIONS</a></p>
					<p>Time to party for the third time!</p>
				</div><!-- End .event-details -->
			</div><!-- End .columns.large-6 -->
			<div class="columns large-6">
				<strong>Grandma Flo Celebration</strong>
				<img src="{{ assets/images/glo-img.png | prefix: baseurl }}" alt="party-image">
				<div class="event-details">
					<p>October 1<br>
					12:00pm - 3:00pm<br>
					SPRINGFIELD, VA<br>
					GREENSPRING<br>
					<a href="">VIEW DIRECTIONS</a></p>
					<p>Grandma's big day!</p>
				</div><!-- End .event-details -->
			</div><!-- End .columns.large-6 -->
		</div><!-- End .row -->
	</div><!-- End .schedule-content-wrap -->
</section>