<section id="schedule" class="heroic-bg blend-overlay" data-lazy="assets/images/table_setting.jpg">		
	<div class="schedule-content-wrap">
		<h2>The Party</h2>
		<div class="row">
			<div class="item columns large-12">
				<strong>Dan &amp; Pili Celebration</strong>
				{% include lazy-image.html src="assets/images/workhouse.jpg" alt="workhouse" width=250 %}
				<div class="event-details">
					<p>September 30<br>
					7:00pm - 11:00pm<br>
					THE WORK HOUSE<br>
					LORTON, VA<br>
					<a href="https://goo.gl/maps/Pa9huE6htJ22" target="_blank">GET DIRECTIONS</a></p>
					<p>Time to party for the third time!</p>
				</div><!-- End .event-details -->
			</div><!-- End .columns.large-6 -->
		</div><!-- End .row -->
	</div><!-- End .schedule-content-wrap -->
</section>